/* Navigation styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #464646;
    padding: 2rem;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 1.125rem;
}

nav a:hover {
    background-color: #5e5568;
    border-radius: 4px;
}

/* Footer styling */
footer {
    background-color: #464646;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}