
body {
    background-color: #fffceb;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    padding-top: 20px;
}

table {
    text-align: center;
    border: none;
    border-collapse: seperate;
    border-spacing: 40px 0;
    padding: 20px;
    background-color: rgb(250, 247, 217);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid #FFD93D;
    border-radius: 15px;
    padding: 10px;
    table-layout: fixed;
    margin: 0 auto;
}

td {
    vertical-align: middle; 
    text-align: center; 
    padding: 10px;
}

button {
    display: block;
    width: 150px;
    margin: 15px auto;
    padding: 10px 15px;
    background-color: #FFD93D;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid rgb(250, 247, 217);
    color: #333;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 50px;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #fc9a11, #ff891a);
}

p {
  font-size: 1.1rem;
  color: #333;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;         
}


.form-field {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

small {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  color: #333;
}

.form-field label {
  font-weight: 500;
  color: #333;
}

.form-field input,
.form-field textarea {
  width: 60%;
  padding: 0.25rem 0.75rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}