<!-- File: base.html -->
<!-- Author: Hsiang Yu Huang (huanghy@bu.edu), 9/15/2025 -->
<!-- Description: CS412 base template containing navbar and footer -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mini_insta/css/base.css' %}">
    {% block head %}{% endblock %}
    <title>Anna's Personal Website</title>
</head>
<body>
    <nav>
        <div class="nav-center">
            {% if on_profile_page %}
                <a href="{% url 'profiles' %}">Back to All Profiles</a>
            {% else %}
                <a href="/">Anna's Profile</a>
            {% endif %}
            <a href="{% url 'create_profile' %}">Become My Friend</a>
        </div>
        <a href="/mini_insta/log_in" class="log-in">Log In</a>
    </nav>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Hsiang Yu (Anna) Huang</p>
    </footer>
</body>
</html>