* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, #FFD93D, #FFC300);
    padding: 1rem;
    align-items: center;
    display: flex; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

nav a {
    color: #333333;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.125rem;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #ffedb2;
    color: #222;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

/* push log in to the right */
nav a.log-in {
    margin-left: auto;
    margin-right: 0;
    background-color: #ffedb2;
    border: 1px solid #FFC300;
}

/* put the other nav in center */
.nav-center {
    display: flex;
    justify-content: center;
    flex: 1;  /* take the remaining space */
}

/* Footer styling */
footer {
    background-color: #FFD93D;
    color: #333333; 
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}