body {
    background-color: #fffceb;
}

.profile-info {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: clamp(1rem, 5vw, 10rem);
    background-color: rgb(250, 247, 217);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid #FFD93D;
    border-radius: 15px;
    margin: 2rem auto; 
    padding: 0.5rem;
    max-width: 800px;
    width: 60%;
}

.profile-text {
    display: flex; 
    text-align: left;
    color: #333;
    flex-direction: column;
    gap: 4rem; 
}

.profile-image {
    width:300px; 
    height:auto; 
    overflow:hidden; 
    margin-left:8%; 
    border-radius: 15px;
    margin: 2rem 0;
}

.profile-image img {
    width:100%;
    height:auto;
    object-fit:cover;
    transform: scale(1.3) translateY(-20px);
    transform-origin: center;
}


table {
    text-align: center;
    padding: 10px;
    table-layout: fixed;
    margin: 0 auto;
    border: none;
    border-collapse: seperate;
    border-spacing: 40px 0;
    border-radius: 15px;
    background-color: rgb(250, 247, 217);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid #FFD93D;
    width: 90%;
}


td {
    vertical-align: middle; 
    text-align: center; 
    padding: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #333;
    margin-bottom: 15px;
}

p {
    text-align: center;
    color: #333;
}

img {
    border-radius: 15px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

.form-field {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

small {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  color: #333;
}

.form-field label {
  font-weight: 500;
  color: #333;
}

.form-field input,
.form-field textarea {
  width: 60%;
  padding: 0.25rem 0.75rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #333;
}

.form-field select {
    width: 60%;
    padding: 0.25rem 0.75rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    background: #fff;
    color: #333;
}

/* submit button sytle - same as quote button */
.submit-btn {
    display: block;
    width: 150px;
    margin: 2rem auto;
    padding: 10px 15px;
    background-color: #FFD93D;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid rgb(250, 247, 217);
    color: #333;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 50px;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #fc9a11, #ff891a);
}